.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.banner {
  justify-content: center;
  height: calc(var(--spacing) * 64);
}
